uvicorn==0.22.0
pydantic==1.10.8
pymongo==4.3.3
fastapi>=0.65.0
numpy
sympy
langchain
langchain_community
langchain_openai
python-dotenv
beautifulsoup4  # bs4는 beautifulsoup4의 별칭으로, 여기서는 하나만 남기고 제거
faiss-cpu
requests
httpx
sentence_transformers
konlpy
