uvicorn==0.22.0
pydantic==1.10.8
fastapi>=0.65.0
python-dotenv
requests
httpx
authlib
itsdangerous
fastapi-jwt-auth
loguru  # 로그 설정을 위해 추가
pymongo==4.3.3
numpy
sympy
langchain
langchain_community
langchain_openai
bs4
faiss-cpu
beautifulsoup4
sentence_transformers
konlpy
motor
pymysql
sqlalchemy
boto3
python-jose
mysqlclient